.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 700px;
  height: 500px;
}
.grid-item {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.grid-item:hover {
  cursor: pointer;
}
